@charset "utf-8";
/* CSS Document */

#about{
	height:145px;
}

#about_title{
	height:145px; cursor:pointer;
}

#about_content{
	height:1365px; display:none; width:990px; position:relative;
}

.about_banner{
	display:none;
}

.about_detail{
	height:585px;
}

.about_detail_mac{
	height:585px; display:none;
}

.about_map{
	background:url(../img/about_bg.jpg) no-repeat; height:585px; width:635px; float:left; color:#4c4948; font-size:16px;
}

.about_t{
	 color:#f59b00; font-size:33px; 
}

.about_s{
	color:#4c4948; font-size:16px;  margin-top:18px; font-weight:bolder; line-height:25px;
}

.about_map ul{
	margin:45px 0 0 50px; width:540px;
}

.about_map ul li{
	margin-top:30px; 
}

.about_sbar{
	background:url(../img/about_sbar.jpg) no-repeat; height:585px; width:355px; float:left;  color:#4c4948;
}

.about_sbar ul{
	margin:25px 0 0 50px; width:270px;
}

.about_sbar ul li{
	margin-top:5px; 
}

.about_ss{
	color:#4c4948; font-size:16px;  margin-top:10px; font-weight:bolder; line-height:25px;
}

.at{
	color:#f59b00; margin-right:10px; font-weight:bold;
}

.lasted{
	height:330px; background:#FDFDFD;
}

.lasted_t{
	 color:#ff7319; height:60px; width:910px; font-size:26px; padding-top:30px;
}

.lasted ul{
	width:990px; height:200px;
}

.lasted ul li{
	background:url(../img/shadow.png) no-repeat; float:left; width:280px; height:220px; margin-left:32px; cursor:pointer;
}

.lasted ul li img{
	position:relative;
}