@charset "utf-8";
/* CSS Document */
#contact{
	height:281px;
}

#contact_title{
	height:281px; cursor:pointer; overflow:hidden;
}

#contact_content{
	  display:none; width:990px;
}

#contact_banner{
	height:450px; width:990px;
}

.join_contactp{
	width:990px; 
	height:463px; 
	overflow:hidden;
	position:relative; left:0; top:0;
}

.join_contactp_mac{
	width:990px; 
	height:463px; 
	overflow:hidden;
	position:relative; left:0; top:0; 
	display:none;
}

.join_contact{
	width:1980px; 
	height:463px; 
}

.contact_banner{
 	display:none;	
}

.join{
	background:#FFFFFF; height:463px; width:990px; float:left;
}

.join_sbar{
	background:url(../img/join_bg.png) no-repeat; margin-left:45px; height:463px; width:375px; position:relative; float:left;
}

.join_title{
	 font-size:30px; color:#0064bf; padding:55px 0 0 85px;
}

.join_sbar ul{
	margin:30px 0 0 85px;
}

.join_sbar ul li{
	margin-top:20px; cursor:pointer;  width:290px;
}

.join_sbar ul li a{
	 font-size:18px; color:#4c4948;
}

.join_img{
	position:absolute; right:0; top:120px;
}

.join_detail{
	height:463px; width:570px; overflow:hidden; color:#4c4948; font-size:12px; float:left;  position:relative;
}

.join_detail ul li{
	text-align:left; margin:3px 0 0 45px;
}

.detail{
	 height:413px; .height:463px; width:440px;
}

.describe{
	margin-top:50px;
}

.require{
	margin-top:20px;
}

.join_close{
	position:absolute; right:40px; top:54px; cursor:pointer;
}

.contact_detail{
	background:#FFFFFF; height:463px; width:990px; float:left; 
}

.contact_sbar{
	background:url(../img/join_bg.png) no-repeat; height:463px; width:375px; position:relative; float:left;
}

.contact_title2{
	 font-size:30px; color:#0064bf; padding:55px 0 0 85px;
}

.contact_sbar ul{
	margin:30px 0 0 85px;
}

.contact_sbar ul li{
	margin-top:20px; cursor:pointer;  width:290px;
}

.contact_sbar ul li a{
	 font-size:18px; color:#4c4948;
}


.contact_map{
	height:463px; width:615px; color:#4c4948; font-size:12px;  position:relative; float:left;
	background:url(../img/map_bg.jpg) no-repeat;
}

.contact_map_title{
	 font-size:30px; color:#0064bf; padding:40px 0 0 44px;
}

.contact_map ul{
	margin:10px 0 0 44px;
}

.contact_map ul li{
	margin-top:8px;  font-size:15px; color:#4c4948;
}

.contact_map ul li a{
	color:#4c4948; text-decoration:underline;
}

.contact_map ul li a:hover{
	color:#000; text-decoration:underline;
}


.amap{
	width:206px; height:150px; position:absolute; top:233px; left:342px; cursor:pointer;
}

.amap_pic{
	position:absolute; height:25px; width:140px; background:#0FB6E3; border-radius:2px; top:0; left:0; z-index:10; cursor:pointer; display:block;
	text-align:center; line-height:25px;  font-size:15px; color:#FFFFFF; border-radius:4px;
}

.contact_close{
	position:absolute; right:40px; top:65px; cursor:pointer;
}

