*{
	margin:0 auto; padding:0;
}

body{
	font-family:"Microsoft YaHei",SimHei;
}

img{
	display:block; border:none;
}

ul{
	list-style:none;
}

a{
	text-decoration:none; color:#FDFDFD; outline: none;
}

a:active{
	star:expression(this.onFocus=this.blur());
}

:focus {
	outline:0; 
}

#oc{
	position:fixed; top:80px; right:0; height:120px; width:35px; cursor:pointer;
}

#content{
	width:990px;
}

#head{
	height:80px; width:990px; background:url('../img/menu.png') no-repeat; position:fixed; top:0; z-index:1001; 
}

#head_mac{
	height:80px; width:990px; background:url('../img/menu.png') no-repeat; position:fixed; top:0; z-index:1001; display:none;
}

#head ul li{
	float:left;  font-size:16px; text-align:center; line-height:85px; color:#FDFDFD; margin-left:30px;
	display:block; height:50px; 
}

.wellshine{
	width:200px; height:80px; float:left; position:fixed; z-index:1002; cursor:pointer;
}

.sina{
	width:68px; height:22px; position:absolute; right:50px; top:33px;
}

#foot{
	background:url('../img/foot.png') no-repeat; height:120px; cursor:pointer; width:990px;
}