@charset "utf-8";
/* CSS Document */


#service{
	height:87px;
}

#service_title{
	height:87px; cursor:pointer;
}

#service_content{
	 height:1184px; display:none;
}

#service_banner{
	height:400px; width:990px;
}

.service_banner{
	display:none;
}

.service_detail{
	width:990px; height:784px; background:#FDFDFD; 
}

.service_detail_mac{
	width:990px; height:784px; display:none;
}

.service_detail2{
	width:800px; height:784px; color:#4c4948;
}

.service_detail2 ul li{
	margin-left:20px; list-style-image:url(../img/list.png);
}

.service_detail2_1{
	width:400px; height:724px; float:left; 
}

.service_detail2_2{
	width:335px; height:724px; float:right; 
}

.service_t{
	color:#ff7319; font-size:30px; padding-bottom:15px; padding-top:28px; display:block;
}

.service_detail2 ul li{
	 margin-top:10px; 
}