﻿ /*翻页--开始*/

.page { margin: 5px; padding: 3px; text-align:left; }
.page * { margin: 0 3px 0 0; padding: 3px 5px; border: 1px solid #ddd; background:#fafafa; color: #333; }
.page em {padding:2px 5px; border-color: #999; color: #000; font-style: normal; }
.page strong {padding:2px 5px; border:1px solid #999; color:#000;   }
.page a {padding:2px 5px; color: #333; }
.page a:hover { background: #E6F0FC; text-decoration: none; border:1px solid #999; color:#000; font-weight:bold; }
 /*翻页--结束*/

.popupmenu_popup { padding: 1em; border: 3px solid #D0D6E6; background: #FCF9E6; line-height: 1.4em; text-align: left; overflow: hidden;  font-size:12px; font-family:Arial, Helvetica, sans-serif; }
.popupmenu_popup h1 {font-size: 1.17em; padding: 0 0 10px 0; }
    .popupmenu_popup td { padding-bottom: 0.4em;  }
    .popupmenu_popup .float_del{margin:-20px 10px 0 0; float:right;  background-image: url(../image/delete2.gif); }
	.popupmenu_popup a {color: #2C629E;}
	
.popupmenu_centerbox { border: 8px solid #D0D6E6; background: #FCF9E6; text-align: left; min-width:250px; max-width:550px; font-size:12px; font-family:Arial, Helvetica, sans-serif; }
    .popupmenu_centerbox h1 { padding: 0 10px; color: #FF9919; font-size: 14px; line-height: 26px; cursor: move; }
    .popupmenu_centerbox .popupmenu_inner { padding: 10px; color: #444; }
        .popupmenu_centerbox .popupmenu_inner td{ line-height: 200%; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
            .popupmenu_centerbox .popupmenu_inner .t_input, .popupmenu_centerbox .popupmenu_inner textarea{ margin: 5px 0; border-color: #EBE6C9; }
            .popupmenu_centerbox .float_del{margin:-20px 10px 0 0; float:right; width:13px; height:14px; background-image: url(../image/delete2.gif); }
    .popupmenu_centerbox .box { width: 400px; }

