@charset "utf-8";
/* CSS Document */

#work{
	height:87px;
}

#work_title{
	height:87px; cursor:pointer;
}

#work_content{
	display:none;
}

#work_banner{
	height:450px; width:990px;
}

.work_banner{
	display:none;
}

.banner_pic{
	height:400px; overflow:hidden;
}

.banner_pic ul li{
	float:left;
}

.banner_pic img{
	width:990px; height:400px; .display:inline;
}

.banner_bottom{
	background:url(../img/banner_bottom.jpg) repeat-x; width:990px; height:50px;
}

.banner_bottom ul{
	margin-left:310px;
}

.banner_bottom ul li{
	float:left; margin-left:22px; cursor:pointer; display:inline;
}

.banner_bottom ul li img{
	.display:inline;
}

.dot img{
	position:relative; bottom:13px; 
}

.dot{
	height:13px; overflow:hidden; position:relative; top:18px;
}

.client{
	background:#fbfbfb; height:2580px;
}

.client_log{
	background:url(../img/clientlog_bg.png) no-repeat; height:588px; width:900px; position:relative; z-index:1;
}

.logo{
	  height:588px; width:900px; position:absolute; z-index:1;
}

.logo ul li{
	float:left; width:300px; height:110px; position:relative; top:10px; cursor:pointer;
}

.logo_c{
	  height:588px; width:900px; position:absolute; z-index:0;
}

.logo_c ul li{
	float:left; width:300px; height:110px; position:relative; top:10px; cursor:pointer;
}

.our_work{
	height:855px; width:900px; margin-top:10px; 
}

.work_title{
	height:50px; line-height:50px; text-align:left; width:900px;
}

.work_title ul li a{
	float:left; margin-left:25px; font-size:18px;  color:#9fa0a0;
	display:block; cursor:pointer;
}

.work_title a:hover{
	color:#00a0d7; text-decoration:underline;
}

.exp{
	width:900px; position:absolute;
}

.exp ul li{
	float:left; background:url(../img/shadow.png) no-repeat; width:281px; height:220px; cursor:pointer; margin-top:60px;
	position:relative;
}

.exp .mli{
	margin-left:25px; margin-right:30px;
}

.exp ul li img{
	width:280px; height:220px; position:relative;
}

.prj_pic_bg{
	width:100%; height:100%; position:absolute; z-index:1002; background:#000; cursor:pointer; display:none;
}

.prj_pic{
	width:1010px; height:600px; position:absolute; z-index:1003; background:#FDFDFD; border-radius:15px;  display:none;
}

.prj_pic_cha{
	position:absolute; z-index:1111; cursor:pointer; right:0; float:right; .left:1250px;
}


.prj_pic img{
	position:relative; top:10px;
}

#closeBtn{display: block;float: right;right: 20px;cursor: pointer;}
#video-wapper{text-align: center;margin-top: 35px;}